<div id="board">
  <div id="columns" class="row">
    <div class="col-xs-3"
         *ngFor="let column of columns; trackBy: track">
      <div class="column">
        <div class="columnHeader">
          <span>{{column.name}} ({{column.cards.length}})</span>
        </div>
        <ul class="cards card-list" asSortable [sortableOptions]="sortableOptions"
            [sortableData]="column.cards" [sortableInfo]="{type: column.name}" (onOrderChanged)="orderChanged($event)"
            (onItemMoved)="itemMoved($event)" (onDragStart)="dragStarted($event)" (onDragOver)="dragMove($event)"
            (onDragEnd)="dragEnded($event)">
          <li class="card" *ngFor="let card of column.cards; let i = index; trackBy: trackByFn" asSortableItem>
            <span asItemHandle>{{card.title}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>