<div class="ui">
  <nav class="navbar app">App bar</nav>
  <nav class="navbar board">Board bar</nav>
  <div class="lists">
    <div class="list" *ngFor="let column of columns">
      <header>{{column.name}}</header>
      <ul asSortable [sortableOptions]="sortableOptions"
          [sortableData]="column.cards" [sortableInfo]="{type: column.name}" (onOrderChanged)="orderChanged($event)"
          (onItemMoved)="itemMoved($event)" (onDragStart)="dragStarted($event)" (onDragOver)="dragMove($event)"
          (onDragEnd)="dragEnded($event)">
        <li class="card" *ngFor="let card of column.cards; let i = index; trackBy: trackByFn" asSortableItem>
          <div asItemHandle><span>{{card.title}}</span></div>
        </li>
      </ul>
      <footer>Add a card...</footer>
    </div>
  </div>
</div>

